/* GLOBALS */
:root {
  --color-bg: #0c0a0c;
  --color-dark: #000000;
  --color-fg: #fcfcfc;
  --color-accent: #a14591;
  --color-border: #422391;
  --color-warning: #a145914f;

  --padding-s: 0.5rem;
  --padding-m: 1rem;
  --padding-x: 1.5rem;
  --padding-xl: 3rem;
  --padding-main-x: clamp(1rem, 15vw, 20rem);
  --padding-main-y: 3rem;

  --header-height: 4rem;
  --sidebar-width: 10rem;

  --border-width: 0.1rem;
}

* {
  box-sizing: border-box;
  color: var(--color-fg);
  margin: 0;
  padding: 0;
  transition: 0.15s;
}


body {
  min-height: 100vh;
  background: linear-gradient(60% var(--color-bg), 100% black) fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: "departure-mono";
}

main {
  padding: var(--padding-main-y) var(--padding-main-x);
}

/* TEXT */
.title {
  font-family: "vergilia";
  font-size: clamp(2rem, 6vw, 3.5rem);
  text-align: center;
  position: relative;
}

a {
  text-decoration-color: transparent;
  text-decoration-thickness: 0.1rem;
}
a:hover {
  text-decoration-color: var(--color-accent);
}

.no-deco {
  text-decoration: none;
}

/* BUTTONS */
button {
  cursor: pointer;
  background: none;
  border: none;
}

select {
  background-color: transparent;
  border: none;
  font-family: "departure-mono";
}

/* RESPONSIVENESS */
.desktop-only {
  display: unset !important;
}
.mobile-only {
  display: none !important;
}

@media screen and (max-width: 728px) {
  :root {
    --padding-main-x: 1rem;
  }

  .desktop-only {
    display: none !important;
  }
  .mobile-only {
    display: unset !important;
  }
}

/* COLOR MODES */
@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #F5EFFF;
    --color-dark: #dfd4f1;
    --color-fg: #1C1D21;
    --color-accent: #F7567C;
    --color-border: #8377D1;
    --color-warning: #F7567C4f;
  }
}

/* FONTS */
@font-face {
  font-family: "departure-mono";
  src: url("$lib/fonts/departure_mono/DepartureMono-Regular.otf");
}
@font-face {
  font-family: "fustat";
  src: url("$lib/fonts/Fustat/Fustat[wght].ttf");
}
@font-face {
  font-family: "NoseTransport";
  src: url("$lib/fonts/Nose-Transport/Web/NoseTransport9-RegularDot.woff2");
}
@font-face {
  font-family: "schroffer_mono";
  src: url("$lib/fonts/schroffer_mono/fonts/WOFF2/SchrofferMono-Regular.woff2");
}
@font-face {
  font-family: "acrylic";
  src: url("$lib/fonts/acrylic/Acrylic-1.0.0.otf");
}
@font-face {
  font-family: "HayuFont";
  src: url("$lib/fonts/HayuFont/HayuFont.otf");
}
@font-face {
  font-family: "vergilia";
  src: url("$lib/fonts/vergilia/vergilia.ttf");
}
@font-face {
  font-family: "goatsica";
  src: url("$lib/fonts/Goatsica/Goatsica-Regular.woff2");
}
@font-face {
  font-family: "helvetica";
  src: url("$lib/fonts/mac/Helvetica-14.ttf");
}
